<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SPHTechMobileAssignment.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DD41FEBD2323E97300CD4092</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD41FED12323E97400CD4092</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD41FEDC2323E97400CD4092</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
